.recipe {
  display: flex;
  flex-direction: column;

  background-color: var(--gray-0);
  border: var(--border-size-1) solid var(--gray-2);
  margin: var(--size-fluid-6) auto;
  padding: var(--size-fluid-3);
  border-radius: var(--radius-2);
  box-shadow: var(--shadow-3);
  gap: var(--size-4);
  font-size: var(--font-size-7);
}

.recipe h2 {
  text-align: center;
  font-size: var(--font-size-fluid-2);
  color: var(--indigo-5);
  align-self: center;
}

.recipe p {
  font-size: var(--font-size-fluid-1);
}

@media (--OSdark) {
  .recipe {
    box-shadow: var(--shadow-1);
  }
}
