.App {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
}

.togglebutton {
  width: 2.5rem;

  /* aspect-ratio: 1/1; */
  background-color: inherit;
  margin: 0.3em;
}

.dark .moon {
  color: white;
}
