.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  position: relative;
}

.togglebutton {
  width: 2.5rem;

  background-color: inherit;
  margin: 0.5em;
}

.dark .moon {
  color: white;
}
